@import "_null";

// Основные цвета
$black: #040404;
$darkgrey: #363636;
$gold: #9f6b08;
$lightgold: #f9ce5c;
//$gradientlight: linear-gradient(180deg, #D8D4CA 0%, rgba(217, 217, 217, 0) 100%;
$white: #ffffff;

// Основные CSS настройки страницы
body {
	// font-family: "Merriweather", serif;
	font-family: "Roboto Condensed", sans-serif;
	background: $white;
	color: $black;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.2;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.main {
	flex: 1 1 auto;
}
.none {
	display: none !important;
}

[class*="__container"] {
	max-width: 920px;
	margin: 0 auto;
	padding: 0px 10px;
}

[class*="__container-big"] {
	max-width: 1220px;
	margin: 0 auto;
	padding: 0px 10px;
}

@font-face {
	font-family: "Impact", sans-serif;
	src: url(../font/impact.woff2);
}

// header
.header {
	padding-top: 25px;
	position: absolute;
	left: 0;
	right: 0;
	background: linear-gradient(180deg, #d8d4ca 0%, rgba(217, 217, 217, 0) 100%);

	// .header__container

	&__container {
	}
}
.nav {
	display: flex;
	justify-content: space-between;
}
.menu-list {
	display: flex;
	gap: 0 40px;
	padding-top: 25px;
}
.meni-left {
	padding-left: 25px;
}
.menu-item {
}
.menu-link {
	font-size: 16px;
	color: $darkgrey;
}
.logo {
}
.logo-img {
}
.menu-right {
	padding-right: 86px;
}

// promo
.promo {
	background: url("../img/promo.jpg") center center / cover no-repeat;
	// .promo__container

	&__container {
	}

	// .promo__inner

	&__inner {
		padding-top: 100px;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		text-align: center;
	}

	// .promo__title

	&__title {
		font-family: "Impact", sans-serif;
		font-size: 76px;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	// .promo__subtitle

	&__subtitle {
		font-family: "Impact", sans-serif;
		font-size: 48px;
		border-bottom: 1px solid $black;
		margin-bottom: 10px;
		align-self: center;
		span {
			display: block;
			color: $gold;
			font-size: 34px;
			padding: 10px 0;
		}
	}

	// .promo__text

	&__text {
		font-size: 16px;
		color: $darkgrey;
	}

	// .promo__arrow

	&__arrow {
		margin-top: auto;
		margin-bottom: 30px;
		align-self: center;
	}
}

// info
.info {
	padding: 100px 0;

	// .info__container

	&__container {
	}

	// .info__title

	&__title {
		font-weight: 300;
		font-size: 32px;
		text-transform: uppercase;
		margin-bottom: 34px;
	}

	// .info__inner

	&__inner {
		display: flex;
		gap: 0 20px;
		margin-bottom: 30px;
	}

	// .info__text

	&__text {
		flex-basis: 439px;
	}

	// .info__text_big

	&__text_big {
		font-weight: 700;
	}

	// .info__img

	&__img {
		object-fit: cover;
	}
}

// teams
.teams {
	padding-bottom: 66px;

	// .teams__container

	&__container {
	}

	// .teams__inner

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	// .teams__content

	&__content {
	}

	// .teams__title

	&__title {
		font-weight: 300;
		font-size: 32px;
		margin-bottom: 30px;
	}

	// .teams__text

	&__text {
		max-width: 352px;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	// .teams__img

	&__img {
		object-fit: cover;
	}
}

// calendar
.calendar {
	padding-bottom: 100px;

	// .calendar__container

	&__container {
	}

	// .calendar__inner

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	// .calendar__content

	&__content {
		max-width: 377px;
	}

	// .calendar__title

	&__title {
		font-weight: 300;
		font-size: 32px;
		text-transform: uppercase;
		margin-bottom: 30px;
	}

	// .calendar__text

	&__text {
	}

	// .calendar__table

	&__table {
		padding: 20px 0 0;
		flex-basis: 450px;
		border-bottom: 1px solid $black;
		border-top: 1px solid $black;
		td {
			padding-bottom: 20px;
		}
	}
}

// track
.track {
	padding: 50px 0 90px;
	background: url("../img/track-bg.png") center / cover no-repeat;

	// .track__container

	&__container {
	}

	// .track__title

	&__title {
		font-weight: 300;
		font-size: 32px;
		text-transform: uppercase;
		margin-bottom: 30px;
	}

	// .track__text

	&__text {
		max-width: 435px;
		margin-bottom: 250px;
	}

	// .track__img

	&__img {
		display: block;
		margin: 0 auto;
		object-fit: cover;
	}
}

// evo
.evo {
	// .evo__container

	&__container {
	}
}
.evo-top {
	padding: 100px 0 50px;
	background-color: $darkgrey;
	color: $white;

	// .evo-top__inner

	&__inner {
		position: relative;
		&::before {
			content: "";
			background-image: url(../img/evo-decor1.svg);
			width: 185px;
			height: 213px;
			position: absolute;
			top: 217px;
			left: -152px;
		}
		&::after {
			content: "";
			background-image: url(../img/evo-decor2.svg);
			width: 498px;
			height: 572px;
			position: absolute;
			top: 299px;
			left: -55px;
		}
	}

	// .evo-top__info

	&__info {
		display: flex;
		justify-content: space-between;
		margin-bottom: 198px;
	}

	// .evo-top__title

	&__title {
		font-weight: 300;
		font-size: 32px;
		text-transform: uppercase;
		padding-right: 50px;
	}

	// .evo-top__infobox

	&__infobox {
		flex-basis: 437px;
	}

	// .evo-top__text

	&__text {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	// .evo-top__img

	&__img {
		display: block;
		margin: 0 auto 58px;
		position: relative;
		z-index: 50;
	}
}
.evo-top-list {
	display: flex;
	justify-content: center;
	gap: 0 65px;
	position: relative;
	z-index: 50;
	// .evo-top-list__item

	&__item {
		text-transform: uppercase;
	}
}
.evo-bottom {
	// .evo-bottom__inner

	&__inner {
		padding-top: 126px;
		position: relative;
		&::before {
			content: "";
			background: url("../img/evo-decor3.png") 0 0 no-repeat;
			width: 274px;
			height: 257px;
			position: absolute;
			top: -18px;
			left: 375px;
		}
		&::after {
			content: "";
			background: url("../img/evo-decor4.png") 0 0 no-repeat;
			width: 324px;
			height: 311px;
			position: absolute;
			top: 126px;
			left: 610px;
		}
	}

	// .evo-bottom__text

	&__text {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
		&:first-child {
			max-width: 285px;
		}
		&:nth-child(2) {
			max-width: 437px;
		}
		&:nth-child(3) {
			max-width: 590px;
		}
	}

	// .evo-bottom__video

	&__video {
		margin: 100px 0;
		background: url("../img/evo-video-bg.png") center / cover no-repeat;
		height: 264px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	// .evo-bottom__video-link

	&__video-link {
		span {
			display: block;
			color: $white;
		}
	}
}

// blog
.blog {
	margin-bottom: 100px;
	// .blog__container

	&__container {
	}

	// .blog__title

	&__title {
		font-weight: 300;
		font-size: 32px;
		margin-bottom: 30px;
	}

	// .blog__slider

	&__slider {
		position: relative;
		padding-top: 50px;
		margin-bottom: 100px;
	}

	// .blog__buton

	&__button {
		position: absolute;
		top: 0;
		left: 50%;
		cursor: pointer;
	}

	// .blog__item

	&__item {
	}

	// .blog__item-img

	&__item-img {
		margin-bottom: 20px;
	}

	// .blog__item-title

	&__item-title {
		font-size: 20px;
		text-transform: uppercase;
		margin-bottom: 10px;
		min-height: 46px;
	}

	// .blog__item-text

	&__item-text {
		margin-bottom: 10px;
	}

	// .blog__item-link

	&__item-link {
		font-size: 12px;
		color: $darkgrey;
	}

	// .blog__quote

	&__quote {
		display: flex;
		justify-content: space-between;
		gap: 0 20px;
	}

	// .blog__quote-box

	&__quote-box {
		flex-basis: 440px;
	}

	// .blog__quote-img

	&__quote-img {
	}
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-button-left {
	transform: translateX(-41px);
}
.swiper-button-right {
	transform: translateX(8px);
}
.blockquote {
	margin-bottom: 30px;

	// .blockquote__name

	&__name {
		font-weight: 700;
		span {
			display: block;
			margin-bottom: 3px;
			font-weight: 400;
			font-size: 12px;
			color: $gold;
		}
	}

	// .blockquote__text

	&__text {
		padding-top: 10px;
		font-style: italic;
	}
}

// footer
.footer {
	background-color: $darkgrey;
	color: $white;
	padding: 100px 0 80px;

	// .footer__container

	&__container {
	}

	// .footer__title

	&__title {
		font-weight: 300;
		font-size: 32px;
		text-transform: uppercase;
		margin-bottom: 50px;
	}

	// .footer__top

	&__top {
		display: flex;
		justify-content: space-between;
		gap: 0 20px;
		margin-bottom: 90px;
	}

	// .footer__info

	&__info {
	}

	// .footer__info-item

	&__info-item {
		margin-bottom: 50px;
		dt {
			font-weight: 700;
			font-size: 16px;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
		dd:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	// .footer__address

	&__address {
		flex-basis: 462px;
		font-size: 16px;
	}

	#map {
		height: 250px;
	}
	
	// .footer__address-title
	
	&__address-title {
		text-transform: uppercase;
		margin-bottom: 20px;
		font-weight: 700;
	}

	// .footer__address-text

	&__address-text {
		margin-bottom: 20px;
	}

	// .footer__bottom

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .footer__bottom-link

	&__bottom-link {
	}

	// .footer__logo

	&__logo {
	}

	// .footer__logo-img

	&__logo-img {
	}
}
.social-list {
	display: flex;
	gap: 0 20px;
	align-items: center;

	// .social-list__item

	&__item {
	}

	// .social-list__link

	&__link {
	}

	// .social-list__icon

	&__icon {
	}
}
