@charset "UTF-8";
/* Обнуляющий стиль */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

body,
html {
  height: 100%;
  line-height: 1;
}

/* ================== */
body {
  font-family: "Roboto Condensed", sans-serif;
  background: #ffffff;
  color: #040404;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.none {
  display: none !important;
}

[class*=__container-big] {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0px 10px;
}

[class*=__container] {
  max-width: 920px;
  margin: 0 auto;
  padding: 0px 10px;
}

@font-face {
  font-family: "Impact", sans-serif;
  src: url(../font/impact.woff2);
}
.header {
  padding-top: 25px;
  position: absolute;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#d8d4ca), to(rgba(217, 217, 217, 0)));
  background: -o-linear-gradient(top, #d8d4ca 0%, rgba(217, 217, 217, 0) 100%);
  background: linear-gradient(180deg, #d8d4ca 0%, rgba(217, 217, 217, 0) 100%);
}
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 40px;
  padding-top: 25px;
}

.meni-left {
  padding-left: 25px;
}

.menu-link {
  font-size: 16px;
  color: #363636;
}

.menu-right {
  padding-right: 86px;
}

.promo {
  background: url("../img/promo.jpg") center center/cover no-repeat;
}
.promo__inner {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  text-align: center;
}
.promo__title {
  font-family: "Impact", sans-serif;
  font-size: 76px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.promo__subtitle {
  font-family: "Impact", sans-serif;
  font-size: 48px;
  border-bottom: 1px solid #040404;
  margin-bottom: 10px;
  -ms-flex-item-align: center;
      align-self: center;
}
.promo__subtitle span {
  display: block;
  color: #9f6b08;
  font-size: 34px;
  padding: 10px 0;
}
.promo__text {
  font-size: 16px;
  color: #363636;
}
.promo__arrow {
  margin-top: auto;
  margin-bottom: 30px;
  -ms-flex-item-align: center;
      align-self: center;
}

.info {
  padding: 100px 0;
}
.info__title {
  font-weight: 300;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 34px;
}
.info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 20px;
  margin-bottom: 30px;
}
.info__text {
  -ms-flex-preferred-size: 439px;
      flex-basis: 439px;
}
.info__text_big {
  font-weight: 700;
}
.info__img {
  -o-object-fit: cover;
     object-fit: cover;
}

.teams {
  padding-bottom: 66px;
}
.teams__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.teams__title {
  font-weight: 300;
  font-size: 32px;
  margin-bottom: 30px;
}
.teams__text {
  max-width: 352px;
}
.teams__text:not(:last-child) {
  margin-bottom: 30px;
}
.teams__img {
  -o-object-fit: cover;
     object-fit: cover;
}

.calendar {
  padding-bottom: 100px;
}
.calendar__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.calendar__content {
  max-width: 377px;
}
.calendar__title {
  font-weight: 300;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.calendar__table {
  padding: 20px 0 0;
  -ms-flex-preferred-size: 450px;
      flex-basis: 450px;
  border-bottom: 1px solid #040404;
  border-top: 1px solid #040404;
}
.calendar__table td {
  padding-bottom: 20px;
}

.track {
  padding: 50px 0 90px;
  background: url("../img/track-bg.png") center/cover no-repeat;
}
.track__title {
  font-weight: 300;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.track__text {
  max-width: 435px;
  margin-bottom: 250px;
}
.track__img {
  display: block;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}