@import "_null";

// Основные цвета
$black: #040404;
$darkgrey: #363636;
$gold: #9f6b08;
$lightgold: #f9ce5c;
//$gradientlight: linear-gradient(180deg, #D8D4CA 0%, rgba(217, 217, 217, 0) 100%;
$white: #ffffff;

// Основные CSS настройки страницы
body {
	// font-family: "Merriweather", serif;
	font-family: "Roboto Condensed", sans-serif;
	background: $white;
	color: $black;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.2;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.main {
	flex: 1 1 auto;
}
.none {
	display: none !important;
}
[class*="__container-big"] {
	max-width: 1220px;
	margin: 0 auto;
	padding: 0px 10px;
}
[class*="__container"] {
	max-width: 920px;
	margin: 0 auto;
	padding: 0px 10px;
}
@font-face {
	font-family: "Impact", sans-serif;
	src: url(../font/impact.woff2);
}

// header
.header {
	padding-top: 25px;
	position: absolute;
	left: 0;
	right: 0;
	background: linear-gradient(180deg, #d8d4ca 0%, rgba(217, 217, 217, 0) 100%);

	// .header__container

	&__container {
	}
}
.nav {
	display: flex;
	justify-content: space-between;
}
.menu-list {
	display: flex;
	gap: 0 40px;
	padding-top: 25px;
}
.meni-left {
	padding-left: 25px;
}
.menu-item {
}
.menu-link {
	font-size: 16px;
	color: $darkgrey;
}
.logo {
}
.logo-img {
}
.menu-right {
	padding-right: 86px;
}

// promo
.promo {
	background: url("../img/promo.jpg") center center / cover no-repeat;
	// .promo__container

	&__container {
	}

	// .promo__inner

	&__inner {
		padding-top: 100px;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		text-align: center;
	}

	// .promo__title

	&__title {
		font-family: "Impact", sans-serif;
		font-size: 76px;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	// .promo__subtitle

	&__subtitle {
		font-family: "Impact", sans-serif;
		font-size: 48px;
		border-bottom: 1px solid $black;
		margin-bottom: 10px;
		align-self: center;
		span {
			display: block;
			color: $gold;
			font-size: 34px;
			padding: 10px 0;
		}
	}

	// .promo__text

	&__text {
		font-size: 16px;
		color: $darkgrey;
	}

	// .promo__arrow

	&__arrow {
		margin-top: auto;
		margin-bottom: 30px;
		align-self: center;
	}
}

// info
.info {
	padding: 100px 0;

	// .info__container

	&__container {
	}

	// .info__title

	&__title {
		font-weight: 300;
		font-size: 32px;
		text-transform: uppercase;
		margin-bottom: 34px;
	}

	// .info__inner

	&__inner {
		display: flex;
		gap: 0 20px;
		margin-bottom: 30px;
	}

	// .info__text

	&__text {
		flex-basis: 439px;
	}

	// .info__text_big

	&__text_big {
		font-weight: 700;
	}

	// .info__img

	&__img {
		object-fit: cover;
	}
}

// teams
.teams {
	padding-bottom: 66px;

	// .teams__container

	&__container {
	}

	// .teams__inner

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	// .teams__content

	&__content {
	}

	// .teams__title

	&__title {
		font-weight: 300;
		font-size: 32px;
		margin-bottom: 30px;
	}

	// .teams__text

	&__text {
		max-width: 352px;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	// .teams__img

	&__img {
		object-fit: cover;
	}
}

// calendar
.calendar {
	padding-bottom: 100px;

	// .calendar__container

	&__container {
	}

	// .calendar__inner

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	// .calendar__content

	&__content {
		max-width: 377px;
	}

	// .calendar__title

	&__title {
		font-weight: 300;
		font-size: 32px;
		text-transform: uppercase;
		margin-bottom: 30px;
	}

	// .calendar__text

	&__text {
	}

	// .calendar__table

	&__table {
		padding: 20px 0 0;
		flex-basis: 450px;
		border-bottom: 1px solid $black;
		border-top: 1px solid $black;
		td {
			padding-bottom: 20px;
		}
	}
}
